<div class="col-md-12">
    <div class="bg-main-light mt-5">
        <div class="w-95 m-auto py-5">
            <h2>Get the FreshCart App</h2>
            <p class="text-muted my-4">We Will send you a link, open it on your phone to download the app</p>
            <div class="items d-flex justify-content-between">
                <input type="text" placeholder="Email.." class="form-control w-85">
                <button class="btn-main text-white">Share App Link</button>
            </div>
            <hr class="my-4">
            <div class="items d-flex justify-content-between w-100">
                <div class="items1 d-flex align-items-center w-50">
                    <h4 class="fw-bold me-3">Payment Patners</h4>
                    <img src="../../assets/amazon-ar21.svg" class="w-10 me-3" alt="">
                    <img src="../../assets/MasterCard_Logo.svg.webp" class="w-10 me-3" alt="">
                    <img src="../../assets/Capture-removebg-preview.png" class="w-10" alt="">
                </div>
                <div class="item2 d-flex justify-content-end align-items-center w-50">
                    <p class="fw-bold m-0">Get deliveries with FreshCart</p>
                    <img src="../../assets/app-store.PNG" class="w-15 mx-3" alt="">
                    <img src="../../assets/google-play.PNG" class="w-15" alt="">
                </div>
            </div>
            <hr class="my-4">
        </div>
    </div>
</div>