<div class="row py-3 gx-0">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img height="400" src="assets/main-slider-1.jpeg" alt="main-slider-1"></ng-template>  
            <ng-template carouselSlide><img height="400" src="assets/main-slider-2.jpeg" alt="main-slider-2"></ng-template>  
            <ng-template carouselSlide><img height="400" src="assets/main-slider-3.jpeg" alt="main-slider-3"></ng-template>  
        </owl-carousel-o>
    </div>
    <div class="col-md-3">
        <div>
            <img height="200" class="w-100" src="../../assets/slide-1.jpeg" alt="main-slider-1">
            <img height="200" class="w-100" src="../../assets/slide-2.jpeg" alt="main-slider-1">
        </div>
    </div>
</div>